{% extends "blog/layouts/base.html" %}

{% block content %}
<div class="container" style="margin-top: 60px;">
     
        <h1>Login</h1>
                <form method="post" action=".">
                        {% csrf_token %}
                        {{ form.as_p }}

                        <input type="submit" value="Log in" class="btn btn-info"/>
                        <!-- <input type="hidden" name="next" value="{{ next }}" /> -->
                        </form>

                <p>Not  a member? <a href="{% url 'users:django_registration_register' %}">Register</a>!</p>
        
</div>
{% endblock %}